<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-bg-dark">Requisições</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-3">
        <a class="btn btn-outline-primary col-md-2" role="button" routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar</a>
      </div>

      <div class="mt-5">
        <table class="table table-dark table-striped table-hover">
          <thead class="thead-light text-center">
            <tr>
              <th>Abertura</th>
              <th>Última Atualização</th>
              <th>Descrição</th>
              <th>Departamento</th>
              <th>Status</th>
              <th>Movimentações</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let requisicao of (requisicoes$ | async)">
              <td>{{ requisicao.dataCriacao }}</td>
              <td>{{ requisicao.movimentacoes.length > 0 ? requisicao.movimentacoes[0].dataMovimentacao :
                requisicao.dataCriacao }}</td>
              <td>{{ requisicao.descricao }}</td>
              <td>{{ requisicao.departamento?.nome }}</td>
              <td>{{ requisicao.status }}</td>
              <td>{{ requisicao.movimentacoes.length }}</td>
              <td>Botões</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
