<!-- ----------------------------- NAVEGADOR ----------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto my-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" routerLink="/requisicoes/funcionario"
          routerLinkActive="active"><i class="pi pi-ticket"></i> Minhas
          requisições</button>
        <button type="button" class="btn btn-outline-primary" routerLink="/requisicoes/departamento"
          routerLinkActive="active"><i class="pi pi-briefcase"></i>Requisições para meu departamento</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
