@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import '~ngx-toastr/toastr.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --input-background: rgba(57, 63, 84, 0.8);
}

body {
  background-color: #212529;
  font-family: 'Quicksand', sans-serif;
}

.ng-select.custom .ng-select-container {
  background: #272b30;
}

/* OVERRIDES BOOTSTRAP */

.btn-primary {
  background-color: #2c599D !important;
  border-color: #2c599D !important;
}

.btn-primary:hover {
  background-color: #193a6f !important;
  border-color: #193a6f !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #2c599D !important;
  border-color: #2c599D !important;
}

.btn-outline-primary:hover {
  background-color: #2c599D !important;
  color: white !important;
}

.btn-outline-primary:focus {
  box-shadow: none !important;
}

.text-primary {
  color: #2c599D !important;
}

.text-warning {
  color: #bb9421 !important;
}

.btn-outline-warning {
  border-color: #bb9421 !important;
}

.btn-outline-warning:hover {
  background-color: #bb9421 !important;
  color: white !important;
}

.btn-outline-warning:focus {
  box-shadow: none !important;
}

.btn-outline-danger {
  border-color: #b32b39 !important;
}

.btn-outline-danger:hover {
  background-color: #b32b39 !important;
  color: white !important;
}

.btn-outline-danger:focus {
  box-shadow: none !important;
}

.bg-semi-dark {
  background-color: #272b30 !important;
}

.bg-medium {
  background-color: #474d53 !important;
}

.underline{
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #2c599D;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.efeito-logo {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.efeito-logo::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #fff;
  transition: all .5s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

.efeito-logo:hover {
  color: #2d2d2d;
}

.efeito-logo:hover::after {
  right: 0;
  left: 0;
  height: 100%;
}

/* ------------------------INPUT------------------------

.colorful-gradient {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 2px;
}

.colorful-gradient::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0%{background-position:0 0}
  100%{background-position:100% 0}
} */
