@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
  background-color: #212529;
  font-family: 'Quicksand', sans-serif;
}

/* OVERRIDES */

.btn-primary {
  background-color: #2c599D !important;
  border-color: #2c599D !important;
}

.btn-primary:hover {
  background-color: #193a6f !important;
  border-color: #193a6f !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-outline-primary {
  color: #2c599D !important;
  border-color: #2c599D !important;
}

.btn-outline-primary:hover {
  background-color: #2c599D !important;
  color: white !important;
}

.btn-outline-primary:focus {
  box-shadow: none !important;
}

.text-primary {
  color: #2c599D !important;
}

.bg-semi-dark {
  background-color: #272b30 !important;
}

.bg-medium {
  background-color: #474d53 !important;
}

.underline{
position: relative;
}

.underline::before{
content: '';
position: absolute;
bottom: 0;
right: 0;
width: 0;
height: 2px;
background-color: #2c599D;
transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
.underline:hover::before{
  left: 0;
  right: auto;
  width: 100%;
}
}

.efeito-logo {
  display: block;
  margin: auto;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
}

.efeito-logo::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 1.25rem;
  left: 1.25rem;
  background-color: #fff;
  transition: all .5s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
}

.efeito-logo:hover {
  color: #2d2d2d;
}

.efeito-logo:hover::after {
  right: 0;
  left: 0;
  height: 100%;
}

.meu-input {
  border: 0 !important;
  border-bottom: 1px solid #c77e43 !important;
  border-radius: 0;
}

.meu-input:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #43c760 !important;
}
